@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

:root {        /* Utilizamos o Root para declarar as variáveis. Aqui nesse casode forma Global, o seja altera em todos os blocos body, o header e etc */
    --cor-primaria: rgb(0, 81, 82);  
    --cor-secundaria: rgb(255, 255, 255);
    --cor-terciaria: #99654A;
    --cor-selecao: #82563f;

    --fonte-primaria: 'Oswald', sans-serif;
    --fonte-secundaria: 'Sofia Sans Semi Condensed', sans-serif;
}

*{                /* Através do (*) eu faço uma seleção geral de todo conteúdo da página */
    margin: 0px;  /* Aqui eu zero todas as minhas margens externas da página */
    padding: 0;   /* Aqui eu zero todas as minhas margens internas da página */
}

body {
    /* height: 100vh;  Significa altura da página (body) e 100vh é 100% de do meta name do arquivo Html */
    box-sizing: border-box;  
    background-color: black; 
}



.cabecalho {
    display: flex;
    background-color: var(--cor-primaria);   
    padding: 18px;                          
    align-items: center;                    
    justify-content: space-around;                
}


a {                                      /* Estilização das Palavras do Menu */
    color: rgb(255, 255, 255);                     
    font-family: 'Oswald', sans-serif;                
    text-decoration: none;                           
    font-size: 1.5rem;                                 
    font-weight: 600;                               

}

a:hover {               
    color: var(--cor-selecao);    
}


.lista-menu {             
    display: flex;
    list-style: none;        
    justify-content: center;
    gap: 14rem;
}

.lista-menu a {           
    display: block;
    
}

.botao-mobile {
    display: none;            
    border: none;  
    background: none;
    border-top: 3px solid #82563f;
    padding: 2.rem;
}

.botao-mobile::before,
.botao-mobile::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #82563f;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}









.descritivo-portefoleo {  /* Elemento Pai - Container principal*/
    display: flex;           
    justify-content: center; 
    padding: 7%;
}

                                        /* PÁGINA CORPO HOME */
.apresentacao_imagem_cargo {
    display: flex;   
    flex-direction: column;              
    align-items: center;
}

.img-perfil {                     
    width: 50%;             
    padding: 0% 0% 8% 0%;       
    animation: fadeIn 3s ease-in-out;        
}

@keyframes fadeIn {       /* animação imagem de perfil */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


h1 {
    text-align: center;                                     
    color:white;                                          
    font-family: 'Sofia Sans Semi Condensed', sans-serif;  
    font-size: 5.5rem;                                      
    font-weight: 700;                                   
}

.cargos {
    color:#99654A;  
    font-family: 'Oswald', sans-serif; 
    font-size: 3rem;   
    font-weight: 600;  
}

.img-para-portifolio {
    display: flex; 
    flex-direction: row;                   
    align-items: center;                 
    justify-content: center;  
}

.img-linkedin, .img-guithub {                   
    width: 6vh;                                  
    padding: 24px 10px 0px 20px;     
}

.img-para-portifolio {
    gap: 20px;
       
}
.img-para-portifolio a:hover {
    transform: scale(1.3);
    transition-duration: 0.5s;   
}



                                     /* PÁGINA SOBRE MIM */

.corpo_conteudo_sobre_mim {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10%;    
}

.titulo_sobre_mim {
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria); 
    font-size: 3rem; 
    text-align: left;
    padding: 0% 0% 4% 0%;    
}

.texto_sobre_mim {
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria); 
    font-size: 1.5rem; 
    text-align: justify;           
    padding: 0% 22% 0% 0%;    
}

.imagem_sobre_mim {
    width: 63vh;
}



                                             /* PÁGINA RESUMO */
                                  
.corpo_conteudo_habilidades {
    padding: 10%
}

h2 {
    text-align: center;                  
    color:white;                       
    font-family: 'Oswald', sans-serif;  
    font-size: 2.5rem;                   
}


.lista-habilidades {    
    list-style:none;
    font-size: 110px;
    color: #000000;
   /* outline: 2px solid rgb(128, 51, 0); */
    margin-top: 8%;
    
}

.img-habilidade-cima {
    display: flex;
    justify-content: space-around;
  /* outline: 2px solid rgb(0, 45, 128); */
}

.icone-html5, .icone-css3, .icone-js, .div-wordpress {     /* Blocos cores de fundo */
    display: flex;
    position: relative;
    width: 132px;
    height: 132px;    
    justify-content: center;
    align-items: center;   
    padding: 16px 16px 6px 16px;
    background-color: #111111;     
    cursor: pointer;
    transition: 0.8s;
    border: var(--cor-primaria) solid 4px;
    border-radius: 8px;
    transform: scale(1);  
    
    
}

.img-habilidade-baixo {
    display: flex;
    justify-content: space-around;
    margin-top: 8%;     
      /*  outline: 2px solid rgb(187, 4, 178); */    
}

.div-joomla-black {
    display: flex;    
    width: 132px;
    height: 132px;    
    justify-content: center;    
    padding: 16px 16px 6px 16px;
    background-color: #111111;     
    cursor: pointer;
    transition: 0.8s;
    border: var(--cor-primaria) solid 4px;
    border-radius: 8px;
    transform: scale(1);   
}

.div-figma-black {
    display: flex;    
    width: 132px;
    height: 132px;    
    justify-content: center;    
    padding: 16px 16px 6px 18px;
    background-color: #111111;     
    cursor: pointer;
    transition: 0.8s;
    border: var(--cor-primaria) solid 4px;
    border-radius: 8px;
    transform: scale(1);        
}




.icone-html5:hover {             /* efeito blocos aumentando */
    transform: scale(1.2);    
}
.icone-css3:hover {
    transform: scale(1.2);
} 
.icone-js:hover {
    transform: scale(1.2);
} 
.div-wordpress:hover {
    transform: scale(1.2);
} 


.container_joomla:hover {
    transform: scale(1.2);
    cursor: pointer;
    transition: 0.8s;
} 
.div-joomla-color {
   padding: 16px 0px 0px 22px;
}


.container_figma:hover {
    transform: scale(1.2);    
    transition: 0.8s;
} 
.div-figma-color {
    padding: 6px 0px 0px 14px;
 }

 .container_joomla {
    margin-right: 10%;       
 }


 .container_figma {
    margin-right: 12%;
    margin-left: 10px;
    /*outline: 2px solid rgb(197, 185, 10);*/
 }








.nomes-icones, .nome-icone-figma, .nome-icone-joomla {
    position: absolute;   
    color: aliceblue;   
    font-family: 'Oswald', sans-serif;                  
    font-size: 1.2rem;                                 
    font-weight: 600;  
    transform: scale(1) translateY(130%);
    bottom: 5px;
    visibility: hidden;      
}

.nome-icone-joomla {
    margin: 0px 0px 12px 32px;     
}
.nome-icone-figma {
    margin: 0px 0px 20px 50px;      
}

.icone-html5:hover .nomes-icones {
    visibility: visible;
}
.icone-css3:hover .nomes-icones {
    visibility: visible;
}
.icone-js:hover .nomes-icones {
    visibility: visible;
}
.div-wordpress:hover .nomes-icones {
    visibility: visible;
}
.container_joomla:hover .nome-icone-joomla {
    visibility: visible;
}
.container_figma:hover .nome-icone-figma {
    visibility: visible;
} 


.fa-html5, .fa-css3-alt, .fa-js, .fa-wordpress {
    padding: 12px 30px 20px 30px;    
}

.fa-html5:hover {
    color:#e04604;    
}
.fa-css3-alt:hover {
    color:#004CE8;    
}
.fa-js:hover {
    color:#FFDF00;    
}
.fa-wordpress:hover {
    color:#00769D;    
}

.div-joomla-black, .div-joomla-color {
    position: absolute;
}
.img-joomla-color {
    width: 96px;
    opacity: 0;
    transition: 0.8s;   
    padding: 16px; 
}
.img-joomla-color:hover {
    opacity: 1;    
}

.div-figma-black, .div-figma-color {
    position: absolute;
}
.img-figma-color {
    width: 112px;   
    opacity: 0; 
    transition: 0.8s; 
    padding: 18px;   
}
.img-figma-color:hover {
    opacity: 1;  
}

















.divisao-horiontal-verde {
    background-color: rgb(0, 81, 82);
    padding: 6px;   
    border: none;
}

                                       /* PARTE EXPERIENCIA */

.titulo-experiencia {
    padding: 8%;
}

h4 {    
    color:white;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
}

h3 {
    color:white;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    margin: 0px 80px 40px 0px;        
}

.apresentacao_experiencia_educacao {
   display: flex; 
   justify-content: space-around;         
   padding: 0% 0% 4% 0%;                    
}

.imagens-experiencia-direita, .imagems-educação_esquerda, .divisao {
    display: flex;
    flex-direction: column;
    align-items: center;             
    align-self: center;
    gap: 68px;    
} 

.descritivo-experiencia, .descritivo-educação {
    display: flex;
    flex-direction: column;
    gap: 220px;
    align-self: center;
}





.divisao-verde {
    background-color: #0C7979;
    padding: 40px 2px;
    margin: 0px 80px 0px 130px;    
}

.hr {    
    animation: scale-down linear both;
    animation-timeline: view(block);
    animation-range: contain 100% exit 50%;
  }

.divisao-horiontal-verde, .linha-horizontal {
   animation: efeito-linha 3s ease-in-out;
   animation-timeline: view();
   animation-range: entry 5% cover 50%;    
   
}
  
 
@keyframes efeito-linha {
   from { opacity: 0;
    clip-path: inset(0% 70% 0% 70%);
    transition: 1s;
    
   }
    to {
        opacity: 1;
        clip-path: inset(0% 0% 0% 0%);  
       
   }

}

.divisao-verde {
    animation: efeito-linha-verde 1s;
    animation-timeline: view();
}


@keyframes efeito-linha-verde {
    from { opacity: 0;
     clip-path: inset(0% 0% 70% 0%);
     
    }
     to {
         opacity: 1;
         clip-path: inset(0% 0% 0% 0%);
     
    }
 
}


 .linha-horizontal {
    background-color: #0C7979;
    padding: 5px 0px;
    margin: 0px 0px 0px 0px;    
    border-color: #0C7979;
}





.chapeu_formatura_1, .chapeu_formatura_2, .chapeu_formatura_3 {
    width: 10vh;
    float: left;
    margin: 0px 0px 30px 50px;            
}

.seta_carreira_1, .seta_carreira_2, .seta_carreira_3 {
    width: 8vh;
    float: left;
    margin: 0px 20px 30px 60px; 
}


    






                                 /* PARTE PORTFOLIO */
.container_portfolio {
    display: flex;
    flex-direction: column;
    min-height: 100vh;           
}
                                
.main-portfolio {
    flex: 1;                   
}

.apresentacao-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 58px 0px 68px 0px;    
}

.caixa_protifolios {
    display: flex;
    flex-direction: row; 
    gap: 136px;    
}

.bloco_portfolio_PJ, .bloco_portfolio_wnfitas {
    display: flex;
    flex-direction: column; 
    background-color: #111111;
    padding: 0px 16px 20px 16px;
    border-radius: 8px;
}

.img-portfolio { 
    display: flex;   
    flex-direction: column;
    width: 320px;
    height: 420px;
    background-size: cover;      
    border-radius: 8px;         
    position: relative;
    margin-top: 16px;    
}      

.titulo_port_paulojr {
    display: flex;   
    flex-direction: column;
}

.descritivo-port_paulojr {
    color: var(--cor-secundaria);
   /* outline: 2px solid rgb(187, 4, 178); */
    text-align: justify; 
    margin-top: 16px;
}

.descritivo-tecnologias-port {
    color: var(--cor-terciaria);
    padding: 26px 0px 8px 0px;
}

.descritivo-tecnologias-wnfitas {
    padding: 8px 0px 8px 0px;
    color: var(--cor-terciaria);
}

.btn-site, .btn-guithub {        
    width: 40%;    
    padding: 3%; 
    background-color: #111111; 
    color: var(--cor-secundaria);   /*cor da fonte */
    border: 3px solid black;
    border-radius: 8px;
    outline: 3px solid var(--cor-primaria);
    margin-top: 2%;
    cursor: pointer;
    font-weight: 700;  
    font-family: 'Oswald', sans-serif;    
    margin: 16px 0px 0px 0px;     
}


.btn-guithub:hover, .btn-site:hover {
    background: var(--cor-primaria);
    box-shadow: 0px 0px 18px var(--cor-primaria);
    transform: scale(1.05);    
    transition: 0.2s;
}
  
.btn-guithub {
    margin-left: 58px;
}

.efeito-sobrepor {
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000d8;
    border-radius: 8px;
    font-size: 32px;
    font-weight: 600;
    color:var(--cor-selecao);
    font-family: 'Oswald', sans-serif;
    text-align: center;
    opacity: 0;                   
    transition: .5s;               
}


.efeito-sobrepor:hover {
    opacity: 1;
}

.img-portfolio-wnfitas {
    width: 320px;
    height: 420px;
    background-size: cover;      
    border-radius: 8px;             
    position: relative;
    margin-top: 16px;
}              

.rodape {
    color: var(--cor-secundaria);     
    background-color: rgb(0, 81, 82);  
    padding: 18px;                        
    text-align: center;                   
    font-family: 'Sofia Sans Semi Condensed', sans-serif; 
}









                                            /* PARTE CONTATO */


                                            
/* área de contatos */

.container_contato {
    display: flex;
    flex-direction: column;
    min-height: 100vh;           
}

.corpo-contato {
    flex: 1;                   
}

.apresentacao-contato {
    display: flex;     
    /* outline: 2px solid rgb(128, 15, 0); */
    justify-content: space-evenly;
    margin-top: 8%;
}
.contato {
    color: var(--cor-terciaria);
    font-size: var(--fonte-primaria);
    font-size: 1.8rem;                                     
    font-weight: 750;
    padding-top: -3%;
}                                            

.area-contatos {   
   /* outline: 2px solid green;    cor da borda da div */
}    


.dados-contato {
    color: var(--cor-secundaria);
    font-size: var(--fonte-secundaria);
    font-size: 1rem;                                   
}     

.img_redes_contato {
    display: flex;
    justify-content: center;
  /*  outline: 2px solid rgb(128, 51, 0); */
    
}

.img-linkedin, .img-guithub {
    width: 4vh;    
    padding: 8px;
}

.img_emal, .img_fone, .img_local {
    width: 4vh; 
}

.img_texto {    
    display: flex;
    align-items: center;
  /*  outline: 2px solid rgb(2, 0, 128); */
    gap: 12px;
    margin-bottom: 8%;
    padding: 0px 20px 0px 10px;
}




/* área do formulário */
                                                                                 
form {
    display: flex;
    max-width: 500px;
    flex-direction: column;
    justify-content: center;    
    gap: 24px;
}

form input, form textarea {      
    background-color: #0000;
    border: 0;
    outline: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    padding: 6px 100px;
    color: var(--cor-secundaria);    
}

form input::placeholder {
    color: var(--cor-secundaria);    
}

form textarea {   
    resize: none;         
    padding: 24% 0;         
}



form .botao-enviar input {    
    width: 50%;
    padding: 4%; 
    background-color: var(--cor-terciaria);
    outline: 3px solid var(--cor-selecao);
    margin-top: 2%;
    cursor: pointer;
    font-weight: 700;  
    transition: 0.5s;       
}

.botao-enviar input:hover {        
    box-shadow: 0px 0px 18px var(--cor-selecao);
    transform: scale(1.05);
    outline: 3px solid var(--cor-secundaria);
}













                                                /* RESPONSIVIDADE */  


/* Desktop */                                              
@media screen and (max-width: 1024px) {    
}



   /* Desktop */                                              
@media screen and (max-width: 1024px) {

                                           /* HOME */
    .descritivo-portefoleo {
      padding: 12% 0% 12% 0%;
    }
    .lista-menu {
      gap: 80px;        
    }

                                            /* SOBRE MIM */
    .imagem_sobre_mim {
        width: 48vh;
        padding: 0% 2% 0% 2%; 
    }
    .titulo_sobre_mim {
        font-size: 2rem; 
        padding: 0% 0% 4% 10%;
    }
    .texto_sobre_mim {
        font-size: 1.2rem; 
        padding: 0% 0% 0% 10%;   
    }
    .corpo_conteudo_sobre_mim {
        padding: 18% 0% 18% 0%;           
    }

                                             /* RESUMO */

    
    h3 {
        font-size: 1.2rem;
        margin: 0px 16px 100px 0px;        
    }
    .descritivo-experiencia, .descritivo-educação {
        gap: 140px;  
        padding-top: 5%;      
    }
    .divisao-verde {
        background-color: #0C7979;
        padding: 38px 2px;
        margin: 0px 80px 0px 130px;    
    }


}





/* Tablets */ 
@media screen and (max-width: 768px) {
    
                                              /* HOME */
                                                

.cabecalho {
margin: 0px;
padding: 50px;

}

.lista-menu {
    gap: 120px;                      
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    justify-content:space-around;

}
                                            

    
                                           /* SOBRE MIM */

.corpo_conteudo_sobre_mim {
    flex-direction: column-reverse;
    align-items: center;
    padding: 5%;
    justify-content: center;
    gap: 40px;  
    margin: 8% 0%;                
}
.imagem_sobre_mim {
    width: 42vh;
    padding: 0% 0% 0% 2%; 
}
.titulo_sobre_mim {
    font-size: 2rem; 
    text-align: center;    
    padding: 0% 0% 4% 0%;      
}
.texto_sobre_mim {
    font-size: 1.2rem; 
    padding: 0% 0% 0% 0%;   
}



                                         /* RESUMO */

h2 {
    font-size: 2rem;                  
    padding: 0% 0% 4% 0%;
}
.img-HTML, .img-CSS, .img-Lightroom, .img-Photoshop, .img-Canva {
    width: 12vh;
}
h4 {    
    font-size: 0.8rem;
}
h3 {
    font-size: 1rem;
    margin: 0px;        
}
.titulo-experiencia {
    margin: 4% 0% 0% 0%;
}
.apresentacao_experiencia_educacao {
    padding: 0% 0% 16% 0%;                     
}
.imagens-experiencia-direita, .imagems-educação_esquerda, .divisao {
    gap: 40px;
} 
.descritivo-experiencia, .descritivo-educação {
    gap: 140px;
    letter-spacing: 1px;
    padding-bottom: 6%;
}
.divisao-verde {
    margin: 0px 60px;    
}
.chapeu_formatura_1, .chapeu_formatura_2, .chapeu_formatura_3 {
    width: 8vh;
    margin: 3% 2% 0% 0%;             
}
.seta_carreira_1, .seta_carreira_2, .seta_carreira_3 {
    width: 7vh;
    margin: 0% 2% 0% 0%; 
}
}



/* CELULARES */  
@media screen and (max-width: 480px) {         /* screen(tela) max-width(for abaixo) de 480px vai aplicar essas configurações */


                                      /* HOME */


.botao-mobile {
    display: block;          
    margin: 5px;  
    color: var(--cor-terciaria)         
}

.lista-menu {
    display: block;             
    position: absolute;                 
    top: 80px;                          
    right: 0;
    height: 0;          
    width: 100%;                     
    background-color: var(--cor-primaria);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: .6s ease-out;
    visibility: hidden;              
    overflow-y: hidden;             
    z-index: 1;                   
}

.nav.active .lista-menu {                
    height: calc(100vh - 80px); 
    visibility: visible;               
    overflow-y: auto;               
}

.lista-menu a {                     
   padding: 3rem;                   
   opacity: 0;
   text-align: center;
}

.lista-menu li:nth-child(1) a {            
    transition: 0.5s 0.2s; 
}
.lista-menu li:nth-child(2) a {
    transition: 0.5s 0.3s; 
}
.lista-menu li:nth-child(3) a {
    transition: 0.5s 0.4s; 
}
.lista-menu li:nth-child(4) a {
    transition: 0.5s 0.5s; 
}
.lista-menu li:nth-child(5) a {
    transition: 0.5s 0.6s; 
}

.nav.active .lista-menu a {      
    opacity: 1;                    
}

.nav.active .botao-mobile {           
    position:static;
    border-top-color: transparent;        
}

.nav.active .botao-mobile::before {      
transform: rotate(135deg);
}

.nav.active .botao-mobile::after {
    transform: rotate(-135deg);        
    top: -7px;                         
}

.descritivo-portefoleo {
    margin: 16% 0%;
}

h1{
    font-size: 3.5rem;
}
.cargos {
    font-size: 2rem;

}


 

                                        /* SOBRE MIM */

.corpo_conteudo_sobre_mim {
    padding: 0% 6%;
    gap: 0px;  
    margin: 12% 0%;                       
}
.imagem_sobre_mim {
    width: 34vh;
    padding: 0% 0% 0% 00%; 
}
.titulo_sobre_mim {
    font-size: 2rem; 
    padding: 12% 0% 6% 0%;        
}
.texto_sobre_mim {
    font-size: 1.2rem; 
    padding: 0% 0% 0% 0%;   
}
.apresentacao-perfil {
    margin: 0% 0%;
}
  


                                        /* RESUMO */

h2 {
    font-size: 2rem;                  
    padding: 0% 0% 4% 0%;
}
.img-HTML, .img-CSS, .img-Lightroom, .img-Photoshop, .img-Canva {
    width: 12vh;
}
h4 {    
    font-size: 0.8rem;
}
.apresentacao_experiencia_educacao {
   /* outline: 2px solid blue;  */
    display: grid;
    grid-template-columns: 15% 75%;
    padding: 4% 0%;
}                                        
h3 {
    font-size: 1.2rem;
    /* outline: 2px solid violet; */
}
.imagens-experiencia-direita  {
   /* outline: 2px solid grey;  */
    gap: 30px;
    padding-top: 0%;       
}

.imagems-educação_esquerda {
    gap: 30px;
    padding: 0% 0% 0% 0%; 
    margin-top: 100%;
} 

.descritivo-educação {
    margin-top: 16%;
}

.descritivo-experiencia, .descritivo-educação {
    display: grid;
    /*outline: 2px solid green;   cor da borda da div */
    gap: 110px;
}




                                         /* PORTFÓLIO */
                                    
.img-portfolio {
    
 
    
    margin-top: 16px;    
}   

.img-portfolio-wnfitas {
             
    position: relative;
    margin-top: 16px;

}

.bloco_portfolio_PJ, .bloco_portfolio_wnfitas {
   
    padding: 0px 16px 20px 16;    
    margin: 4%;
}
  
.caixa_protifolios {
    display: flex;
    flex-direction: column;
    gap: 42px;
}
   
.titulo_port_paulojr, .titulo_port_wnfitas {
    margin-bottom: 8%;
}

.btn-site, .btn-guithub {        
    width: 46%;        
}
.btn-guithub {
    margin-left: 16px;
}




                                         /* CONTATO */
.apresentacao-contato {
    display: flex;
    flex-direction: column;    
    align-items: center;  
    margin: 5%;       
}

.area-contatos {
    margin-bottom: 8%;    
}

.img-linkedin, .img-guithub {
   padding: 16px;
}

form .botao-enviar input {
    width: 100%;      
}


}

                                        


                                                                            
                    



                                

                                    
                                    
                                    


                                    
                                        





