@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

:root {        /* Utilizamos o Root para declarar as variáveis. Aqui nesse casode forma Global, o seja altera em todos os blocos body, o header e etc */
    --cor-primaria: rgb(0, 81, 82);  
    --cor-secundaria: rgb(255, 255, 255);
    --cor-terciaria: #99654A;
    --cor-selecao: #82563f;

    --fonte-primaria: 'Oswald', sans-serif;
    --fonte-secundaria: 'Sofia Sans Semi Condensed', sans-serif;
}

*{                /* Através do (*) eu faço uma seleção geral de todo conteúdo da página */
    margin: 0;  /* Aqui eu zero todas as minhas margens externas da página */
    padding: 0;   /* Aqui eu zero todas as minhas margens internas da página */
    box-sizing: border-box;
}

body {
    /* height: 100vh;  Significa altura da página (body) e 100vh é 100% de do meta name do arquivo Html */
    background-color: black;    
}


.cabecalho {
    display: flex;
    background-color: var(--cor-primaria);   
    padding: 18px;                          
    align-items: center;                    
    justify-content: space-around;                
}


a {                                      /* Estilização das Palavras do Menu */
    color: rgb(255, 255, 255);                     
    font-family: 'Oswald', sans-serif;                
    text-decoration: none;                           
    font-size: 1.5rem;                                 
    font-weight: 600;        
}

a:hover {               
    color: var(--cor-selecao);    
}

.lista-menu {             
    display: flex;
    list-style: none;        
    justify-content: center;
    gap: 14rem;
}

.lista-menu a {           
    display: block;
}

.botao-mobile {
    display: none;            
    border: none;  
    background: none;
    border-top: 3px solid #82563f;
    padding: 2.rem;
}

.botao-mobile::before,
.botao-mobile::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #82563f;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}









.descritivo-portefoleo {  /* Elemento Pai - Container principal*/
    height: 100vh;
    display: flex;           
    justify-content: center; 
    align-items: center;
   /* outline: 2px solid rgb(0, 113, 128);*/
}

                                        /* PÁGINA CORPO HOME */
.apresentacao-perfil {
    display: flex;   
    flex-direction: row-reverse;                 
    gap: 80px;
    animation: fadeIn 3s ease-in-out;
   /*  outline: 2px solid rgb(128, 51, 0);   */
}

.apresentacao_imagem_cargo {
    display: flex;   
    flex-direction: column;
    /*outline: 2px solid rgb(128, 9, 0); */
}

.img-perfil {  
    display: none;        
}

.pj-black {
    height: 120%;
    padding-bottom: 200px;
    animation: fadeIn 3s ease-in-out;
}


@keyframes fadeIn {       /* animação imagem de perfil */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}






h1 {
    text-align: center;                                     
    color:white;                                          
    font-family: 'Sofia Sans Semi Condensed', sans-serif;  
    font-size: 5rem;                                      
    font-weight: 700;                                   
}


.cargos {
    position: relative;
    color:#99654A;  
    font-family: 'Oswald', sans-serif; 
    font-size: 2.8rem;   
    font-weight: 600; 
   /* border-right: 6px solid #99654A;
    white-space: nowrap;
    overflow: hidden;
    width: 0;    animação até onde vai digitando */
    animation: piscando .6s step-end infinite, digitando 16s steps(22,end);
}

/*
@keyframes piscando {
    50%{
        border-right-color: transparent;
    }        
    
}

@keyframes digitando {
    20%{
        width: 20.7ch;
    }
    70%{
        width: 20.7ch;
    }
    85%{
        width: 0;
    }
    100%{
        width: 0;
    }
    
}
*/

.img-para-portifolio {
    display: flex; 
    flex-direction: column;                   
    align-items: center;                 
    justify-content: center;  
    gap: 16px; 
   /* outline: 2px solid rgb(0, 2, 128);      */
}

.img-linkedin, .img-guithub {                   
    width: 6vh; 
    margin: 24px 20px 0px 20px;                                 
    padding: 3px;   
    border: 4px solid #0C7979; 
    border-radius: 50%; 
}

.img-redes-sociais {
    display: flex; 
    flex-direction: row;
   /* outline: 2px solid rgb(98, 0, 128);  */
}

.img-para-portifolio a:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;       
}



                                     /* PÁGINA SOBRE MIM */

.corpo_conteudo_sobre_mim {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8%;   
    animation: fadeIn 3s ease-in-out; 
}

.titulo_sobre_mim {
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria); 
    font-size: 3rem; 
    text-align: left;
    padding: 0% 0% 4% 0%;    
}

.texto_sobre_mim {
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria); 
    font-size: 1.5rem; 
    text-align: justify;           
    padding: 0% 22% 0% 0%;    
}

.imagem_sobre_mim {
    width: 58vh;
}






                                             /* PÁGINA RESUMO */
                                  
.corpo_conteudo_habilidades {
    padding-top: 8%;
}

h2 {
    text-align: center;                  
    color:white;                       
    font-family: 'Oswald', sans-serif;  
    font-size: 2.5rem;                   
}


.lista-habilidades {    
    list-style:none;
    font-size: 110px;
    color: #000000;   
    margin-top: 4%;      
    /* outline: 2px solid rgb(128, 51, 0); */  
}

.lista-habilidades-cima {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 140px;
}

.lista-habilidades-baixo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 140px;
    margin-top: 140px;
}



.icone-html5, .icone-css3, .icone-js, .div-wordpress {     /* Blocos cores de fundo */
    display: flex;    
    flex-direction: column;
    width: 136px;
    height: 136px;    
    justify-content: center;
    align-items: center;   
    padding: 16px;
    background-color: #111111;     
    cursor: pointer;
    border: var(--cor-primaria) solid 4px;
    border-radius: 8px;
    transition: transform 0.8s ease, background-color 0.8s ease;   
    /*outline: 2px solid rgb(197, 185, 10);*/     
}



.div-joomla-black, .div-figma-black {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 136px;
    height: 136px;
    padding: 16px;
    background-color: #111111;
    border: var(--cor-primaria) solid 4px;
    border-radius: 8px;
    transition: transform 0.8s ease, background-color 0.8s ease;
    transform: scale(1);
}





.icone-html5:hover {             /* efeito blocos aumentando */
    transform: scale(1.2);    
}
.icone-css3:hover {
    transform: scale(1.2);
} 
.icone-js:hover {
    transform: scale(1.2);
} 
.div-wordpress:hover {
    transform: scale(1.2);
} 

.container_joomla:hover, .container_figma:hover {
    transform: scale(1.2);
    cursor: pointer;
    transition: transform 0.8s ease;       
} 



.nomes-icones, .nome-icone-figma, .nome-icone-joomla {
    position: absolute; 
    align-items: center;  
    color: aliceblue;   
    font-family: 'Oswald', sans-serif;                  
    font-size: 1.2rem;                                 
    font-weight: 600;  
    transform: scale(1) ;
    top: 136px;
    visibility: hidden;   
  /*  outline: 2px solid rgb(128, 51, 0);  */  
}



.nome-icone-joomla {
    top: 124px;   
    left: 38px;    
}

.nome-icone-figma{
    top: 128px;   
    left: 48px;
}



.icone-html5:hover .nomes-icones,
.icone-css3:hover .nomes-icones,
.icone-js:hover .nomes-icones,
.div-wordpress:hover .nomes-icones,
.container_joomla:hover .nome-icone-joomla,
.container_figma:hover .nome-icone-figma {
    visibility: visible;
}


.fa-css3-alt, .fa-js, .fa-wordpress {
    padding: 12px 30px 0px 30px;    
}
.img-html5, .img-js {
    width: 98px;
    padding-top: 0px;
}
.img-css3 {
    width: 90px;
    padding-top: 0px;
}
.img-wp {
    width: 106px;
    padding-top: 0px;
}
.img-html5:hover {
    filter: brightness(0) saturate(100%) invert(34%) sepia(60%) saturate(1970%) hue-rotate(356deg) brightness(90%) contrast(104%);      
}
.img-css3:hover {
    filter: brightness(0) saturate(100%) invert(15%) sepia(98%) saturate(5974%) hue-rotate(221deg) brightness(95%) contrast(102%);   
}
.img-js:hover {
    filter: brightness(0) saturate(100%) invert(84%) sepia(20%) saturate(3552%) hue-rotate(1deg) brightness(107%) contrast(103%);   
}
.img-wp:hover {
    filter: brightness(0) saturate(100%) invert(26%) sepia(85%) saturate(1681%) hue-rotate(170deg) brightness(94%) contrast(101%);   
}

.div-joomla-color {
    position: relative;   
    top: -122px;
    padding-left: 14px;
}


.img-joomla-color, .img-figma-color {   
    width: 110px;
    opacity: 0;
    transition: opacity 0.8s ease, transform 0.8s ease;
    padding: 8px;     
}

.img-figma-color {
    width: 118px;
}

.div-figma-color {
    position: relative;   
    top: -126px;
    padding-left: 10px;
}

.img-joomla-color:hover, .img-figma-color:hover {
    opacity: 1;    
}







.divisao-horiontal-verde {
    background-color: rgb(0, 81, 82);
    padding: 6px;   
    border: none;
}





                                       /* PARTE EXPERIENCIA */

.titulo-experiencia {
    padding: 8%;
}

h4 {    
    color:white;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
}

h3 {
    color:white;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    margin: 0px 80px 40px 0px;        
}

.apresentacao_experiencia_educacao {
   display: flex; 
   justify-content: space-around;         
   padding: 0% 0% 4% 0%;                    
}

.imagens-experiencia-direita, .imagems-educação_esquerda, .divisao {
    display: flex;
    flex-direction: column;
    align-items: center;             
    align-self: center;
    gap: 68px;    
} 

.descritivo-experiencia, .descritivo-educação {
    display: flex;
    flex-direction: column;
    gap: 220px;
    align-self: center;
}





.divisao-verde {
    background-color: #0C7979;
    padding: 40px 2px;
    margin: 0px 80px 0px 130px;    
}

.hr {    
    animation: scale-down linear both;
    animation-timeline: view(block);
    animation-range: contain 100% exit 50%;
  }

.divisao-horiontal-verde, .linha-horizontal {
   animation: efeito-linha 3s ease-in-out;
   animation-timeline: view();
   animation-range: entry 5% cover 50%;      
}
  
 
@keyframes efeito-linha {
   from { opacity: 0;
    clip-path: inset(0% 70% 0% 70%);
    transition: 1s;
    
   }
    to {
        opacity: 1;
        clip-path: inset(0% 0% 0% 0%);  
       
   }

}

.divisao-verde {
    animation: efeito-linha-verde 1s;
    animation-timeline: view();
}


@keyframes efeito-linha-verde {
    from { opacity: 0;
     clip-path: inset(0% 0% 70% 0%);
     
    }
     to {
         opacity: 1;
         clip-path: inset(0% 0% 0% 0%);
     
    }
 
}


 .linha-horizontal {
    background-color: #0C7979;
    padding: 5px 0px;
    margin: 0px 0px 0px 0px;    
    border-color: #0C7979;
}





.chapeu_formatura_1, .chapeu_formatura_2, .chapeu_formatura_3 {
    width: 10vh;
    float: left;
    margin: 0px 0px 30px 50px;            
}

.seta_carreira_1, .seta_carreira_2, .seta_carreira_3 {
    width: 8vh;
    float: left;
    margin: 0px 20px 30px 60px; 
}


    



                                 /* PÁGINA PORTFOLIO */
.container_portfolio {
    display: flex;
    flex-direction: column;
    min-height: 100vh;           
}
                                
.main-portfolio {
    flex: 1;                   
}

.apresentacao-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 58px 0px 68px 0px;    
}

.caixa_protifolios {
    display: flex;
    flex-direction: row; 
    gap: 136px;    
}

.bloco_portfolio_PJ, .bloco_portfolio_wnfitas {
    display: flex;
    flex-direction: column; 
    background-color: #111111;
    padding: 0px 16px 20px 16px;
    border-radius: 8px;
}

.img-portfolio { 
    display: flex;   
    flex-direction: column;
    width: 320px;
    height: 420px;
    background-size: cover;      
    border-radius: 8px;         
    position: relative;
    margin-top: 16px;    
}      

.titulo_port_paulojr {
    display: flex;   
    flex-direction: column;
}

.descritivo-port_paulojr {
    color: var(--cor-secundaria);
   /* outline: 2px solid rgb(187, 4, 178); */
    text-align: justify; 
    margin-top: 16px;
}

.descritivo-tecnologias-port {
    color: var(--cor-terciaria);
    padding: 26px 0px 8px 0px;
}

.descritivo-tecnologias-wnfitas {
    padding: 8px 0px 8px 0px;
    color: var(--cor-terciaria);
}

.btn-site, .btn-guithub {        
    width: 40%;    
    padding: 3%; 
    background-color: #111111; 
    color: var(--cor-secundaria);   /*cor da fonte */
    border: 3px solid black;
    border-radius: 8px;
    outline: 3px solid var(--cor-primaria);
    margin-top: 2%;
    cursor: pointer;
    font-weight: 700;  
    font-family: 'Oswald', sans-serif;    
    margin: 16px 0px 0px 0px;     
}


.btn-guithub:hover, .btn-site:hover {
    background: var(--cor-primaria);
    box-shadow: 0px 0px 18px var(--cor-primaria);
    transform: scale(1.05);    
    transition: 0.2s;
}
  
.btn-guithub {
    margin-right: 58px;
}

.efeito-sobrepor {
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000d8;
    border-radius: 8px;
    font-size: 32px;
    font-weight: 600;
    color:var(--cor-selecao);
    font-family: 'Oswald', sans-serif;
    text-align: center;
    opacity: 0;                   
    transition: .5s;               
}

.efeito-sobrepor:hover {
    opacity: 1;
}

.img-portfolio-wnfitas {
    width: 320px;
    height: 420px;
    background-size: cover;      
    border-radius: 8px;             
    position: relative;
    margin-top: 16px;
}              

.rodape {
    color: var(--cor-secundaria);     
    background-color: rgb(0, 81, 82);  
    padding: 18px;                        
    text-align: center;                   
    font-family: 'Sofia Sans Semi Condensed', sans-serif; 
}









                                            /* PARTE CONTATO */
                                            
/* área de contatos */
   

.section-contato {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
          
.blocos-contatos {
    display: flex;    
    align-items: center;
    flex-direction: column-reverse; 
    padding: 133px 0px;       
}

.img_redes_contato {
    display: flex;    
    flex-direction: row;    
    gap: 20px;
}

.nome-icone {
    position: relative;
    color: aliceblue;   
    font-family: 'Oswald', sans-serif;                  
    font-size: 1.1rem;                                 
    font-weight: 400;  
    transform: scale(1);
    visibility: hidden; 
    text-align: center;
    padding-left: 8px;
}

.icone_midia-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .4s;
}

.icone_midia-social:hover .nome-icone {
    visibility: visible;
}

.icone_midia-social:hover {
    transform: scale(1.2);
}  





/* área do formulário */


form h2 {
    color: var(--cor-terciaria);
    font-size: var(--fonte-primaria);
    font-size: 3rem;                                      
    font-weight: 750;   
    align-items: center;     
}
                                                                                 
form {
    background-color: #111111;
    padding: 26px 400px 42px 80px;   
    border-radius: 16px;
    display: flex;
    flex-direction: column;    
}
        
form .input-grupo {
    margin-bottom: 16px;    
}

form input, form textarea {  
    width: 280%;    
    background-color: #05050598;
    outline: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    padding: 8px 8px 8px 8px;
    color: var(--cor-secundaria); 
    font-size: 11px;        
}

form textarea {   
    resize: none;         
    padding-bottom: 120px;              
}

.botao-enviar input {      
    width: 100%;
    padding: 8%; 
    background-color: var(--cor-terciaria);
    outline: 3px solid var(--cor-selecao);
    cursor: pointer;
    font-weight: 700;  
    transition: 0.5s;       
}

.botao-enviar input:hover {        
    box-shadow: 0px 0px 18px var(--cor-selecao);
    transform: scale(1.05);
    outline: 4px solid var(--cor-secundaria);
}













                                                /* RESPONSIVIDADE */  

/* Tela Extra large */ 
@media screen and (max-width: 1920px) {

    /* HOME */  
 
    .apresentacao-perfil {
        height: 100vh;
        display: flex;   
        flex-direction: row-reverse;   
        justify-content: center; 
        align-items: center;         
        gap: 8px;
        animation: fadeIn 3s ease-in-out;
    }

    .pj-black {
        height: 120%;
        padding-bottom: 116px;
        animation: fadeIn 3s ease-in-out;
    }    



/* SOBRE */  

    .corpo_conteudo_sobre_mim {
        height: 100vh;
        justify-content: center;
        padding: 14%;   
        animation: fadeIn 3s ease-in-out; 
    }
    
    .titulo_sobre_mim {
        color: var(--cor-terciaria);
        font-family: var(--fonte-primaria); 
        font-size: 3rem; 
        text-align: left;
        padding: 0% 0% 4% 2%;    
    }
    
    .texto_sobre_mim {
        color: var(--cor-secundaria);
        font-family: var(--fonte-primaria); 
        font-size: 1.5rem; 
        text-align: justify;           
        padding: 0% 8% 0% 2%;    
    }
    
    .imagem_sobre_mim {
        width: 58vh;
    }    
}




/* Note */                                              
@media screen and (max-width: 1366px) {   
    
     /* HOME */

.lista-menu {             
    gap: 10rem;
}

h1 {
    font-size: 5rem;                                      
    font-weight: 700;                                   
}

.pj-black {
    height: 120%;
    padding-bottom: 50px;
    animation: fadeIn 3s ease-in-out;
}

.apresentacao-perfil {
    height: 100vh;
    display: flex;   
    flex-direction: row-reverse;                 
    gap: 8px;
    animation: fadeIn 3s ease-in-out;
}

.img-para-portifolio {
    gap: 20px; 
    padding-left: 100px;
}   

                                                  /* SOBRE MIM */

.corpo_conteudo_sobre_mim {
    padding: 8% 0% 8% 10%;    
}

.titulo_sobre_mim {
    font-size: 2.4rem; 
    text-align: left;
    padding: 0% 0% 4% 0%;    
}

.texto_sobre_mim {
    font-size: 1.2rem; 
    text-align: justify;           
    padding: 0% 16% 0% 0%;    
}

.imagem_sobre_mim {
    width: 68vh;
    padding-right: 86px;
}


                               /* CONTATO */


/* área de contatos */
   

.section-contato {
    height: 100vh;
    display: flex;
    
}
          
.blocos-contatos {
    display: flex;    
    align-items: center;
    flex-direction: column-reverse; 
          
}

.img_redes_contato {
    display: flex;    
    flex-direction: row;    
    gap: 20px;
}

.nome-icone {
    position: relative;
    color: aliceblue;   
    font-family: 'Oswald', sans-serif;                  
    font-size: 1.1rem;                                 
    font-weight: 400;  
    transform: scale(1);
    visibility: hidden; 
    text-align: center;
    padding-left: 8px;
}

.icone_midia-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .4s;
}







/* área do formulário */



form h2 {
    color: var(--cor-terciaria);
    font-size: var(--fonte-primaria);
    font-size: 2.4rem;                                      
    font-weight: 750;   
    align-items: center;     
}
                                                                                 
form {
    background-color: #111111;
    padding: 16px 370px 32px 70px;   
    border-radius: 16px;
    display: flex;
    flex-direction: column; 
      
}
        
form .input-grupo {
    margin-bottom: 16px;    
}

form input, form textarea {  
    width: 280%;    
    background-color: #05050598;
    outline: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    padding: 8px 8px 8px 8px;
    color: var(--cor-secundaria); 
    font-size: 11px;        
}

form textarea {   
    resize: none;         
    padding-bottom: 120px;              
}

.botao-enviar input {      
    width: 100%;
    padding: 8%; 
    background-color: var(--cor-terciaria);
    outline: 3px solid var(--cor-selecao);
    cursor: pointer;
    font-weight: 700;  
    transition: 0.5s;       
}

.botao-enviar input:hover {        
    box-shadow: 0px 0px 18px var(--cor-selecao);
    transform: scale(1.05);
    outline: 4px solid var(--cor-secundaria);
}

                             
}



   /* Desktop */                                              
@media screen and (max-width: 1024px) {

                                           /* HOME */

                                          
    .lista-menu {
      gap: 80px;        
    }

                                            /* SOBRE MIM */
    .imagem_sobre_mim {
        width: 48vh;
        padding: 0% 2% 0% 2%; 
    }
    .titulo_sobre_mim {
        font-size: 2rem; 
        padding: 0% 0% 4% 10%;
    }
    .texto_sobre_mim {
        font-size: 1.2rem; 
        padding: 0% 0% 0% 10%;   
    }
    .corpo_conteudo_sobre_mim {
        padding: 18% 0% 18% 0%;           
    }

                                             /* RESUMO */

    
    h3 {
        font-size: 1.2rem;
        margin: 0px 16px 100px 0px;        
    }
    .descritivo-experiencia, .descritivo-educação {
        gap: 140px;  
        padding-top: 5%;      
    }
    .divisao-verde {
        background-color: #0C7979;
        padding: 38px 2px;
        margin: 0px 80px 0px 130px;    
    }

}





/* Tablets */ 
@media screen and (max-width: 768px) {
    
                                              /* HOME */
                                                

.cabecalho {
margin: 0px;
padding: 50px;
}

.lista-menu {
    gap: 120px;                      
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    justify-content:space-around;
}
                                            

    
                                           /* SOBRE MIM */

.corpo_conteudo_sobre_mim {
    flex-direction: column-reverse;
    align-items: center;
    padding: 5%;
    justify-content: center;
    gap: 40px;  
    margin: 8% 0%;                
}
.imagem_sobre_mim {
    width: 42vh;
    padding: 0% 0% 0% 2%; 
}
.titulo_sobre_mim {
    font-size: 2rem; 
    text-align: center;    
    padding: 0% 0% 4% 0%;      
}
.texto_sobre_mim {
    font-size: 1.2rem; 
    padding: 0% 0% 0% 0%;   
}



                                         /* RESUMO */

h2 {
    font-size: 2rem;                  
    padding: 0% 0% 4% 0%;
}
.img-HTML, .img-CSS, .img-Lightroom, .img-Photoshop, .img-Canva {
    width: 12vh;
}
h4 {    
    font-size: 0.8rem;
}
h3 {
    font-size: 1rem;
    margin: 0px;        
}
.titulo-experiencia {
    margin: 4% 0% 0% 0%;
}
.apresentacao_experiencia_educacao {
    padding: 0% 0% 16% 0%;                     
}
.imagens-experiencia-direita, .imagems-educação_esquerda, .divisao {
    gap: 40px;
} 
.descritivo-experiencia, .descritivo-educação {
    gap: 140px;
    letter-spacing: 1px;
    padding-bottom: 6%;
}
.divisao-verde {
    margin: 0px 60px;    
}
.chapeu_formatura_1, .chapeu_formatura_2, .chapeu_formatura_3 {
    width: 8vh;
    margin: 3% 2% 0% 0%;             
}
.seta_carreira_1, .seta_carreira_2, .seta_carreira_3 {
    width: 7vh;
    margin: 0% 2% 0% 0%; 
}
}



/* CELULARES */  
@media screen and (max-width: 480px) {         /* screen(tela) max-width(for abaixo) de 480px vai aplicar essas configurações */


                                      /* HOME */


.botao-mobile {
    display: block;          
    margin: 5px;  
    color: var(--cor-terciaria)         
}

.lista-menu {
    display: block;             
    position: absolute;                 
    top: 80px;                          
    right: 0;
    height: 0;          
    width: 100%;                     
    background-color: var(--cor-primaria);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: .6s ease-out;
    visibility: hidden;              
    overflow-y: hidden;             
    z-index: 1;                   
}

.nav.active .lista-menu {                
    height: calc(100vh - 80px); 
    visibility: visible;               
    overflow-y: auto;               
}

.lista-menu a {                     
   padding: 3rem;                   
   opacity: 0;
   text-align: center;
}

.lista-menu li:nth-child(1) a {            
    transition: 0.5s 0.2s; 
}
.lista-menu li:nth-child(2) a {
    transition: 0.5s 0.3s; 
}
.lista-menu li:nth-child(3) a {
    transition: 0.5s 0.4s; 
}
.lista-menu li:nth-child(4) a {
    transition: 0.5s 0.5s; 
}
.lista-menu li:nth-child(5) a {
    transition: 0.5s 0.6s; 
}

.nav.active .lista-menu a {      
    opacity: 1;                    
}

.nav.active .botao-mobile {           
    position:static;
    border-top-color: transparent;        
}

.nav.active .botao-mobile::before {      
transform: rotate(135deg);
}

.nav.active .botao-mobile::after {
    transform: rotate(-135deg);        
    top: -7px;                         
}

.descritivo-portefoleo {
    margin: 0% 0%;
}


.descritivo-portefoleo {  /* Elemento Pai - Container principal*/
    display: flex;           
    justify-content: center; 
    align-items: center;
    /*outline: 2px solid rgb(0, 113, 128);*/
}


.apresentacao-perfil {
    display: flex;   
    flex-direction:column; 
    align-items: center;                 
    justify-content: center;          
 /*   outline: 2px solid rgb(128, 51, 0);    */

}


.img-perfil {   
    display: flex; 
    align-items: center;
    width: 88%;             
    padding: 0% 0% 0% 10%;       
    animation: fadeIn 3s ease-in-out;        
}

@keyframes fadeIn {       /* animação imagem de perfil */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.pj-black {
    display: none;   
}


h1{
    font-size: 3.5rem;
}
.cargos {
    font-size: 2rem;
}

.img-para-portifolio {
    display: flex; 
    flex-direction: column;                   
    align-items: center;                 
    justify-content: center;  
    padding: 4px 0px 0px 0px; 
  /*  outline: 2px solid rgb(0, 2, 128);  */
}

.img-linkedin, .img-guithub {                   
    width: 6vh; 
    margin: 24px 20px 0px 20px;                                 
    padding: 3px;   
    border: 3px solid #0C7979; 
    border-radius: 50%; 
}

.img-redes-sociais {
    display: flex; 
    flex-direction: row;
 /*   outline: 2px solid rgb(98, 0, 128); */
}








                                        /* SOBRE MIM */

.corpo_conteudo_sobre_mim {
    padding: 0% 6%;
    gap: 0px;  
    margin: 12% 0%;                       
}
.imagem_sobre_mim {
    width: 34vh;
    padding: 0% 0% 0% 00%; 
}
.titulo_sobre_mim {
    font-size: 2rem; 
    padding: 12% 0% 6% 0%;        
}
.texto_sobre_mim {
    font-size: 1.2rem; 
    padding: 0% 0% 0% 0%;   
}
.apresentacao-perfil {
    margin: 0% 0%;
}
  


                                        /* RESUMO */

h2 {
    font-size: 2rem;                  
    padding: 0% 0% 4% 0%;
}

h4 {    
    font-size: 0.8rem;
}

.apresentacao_experiencia_educacao {
   /* outline: 2px solid blue;  */
    display: grid;
    grid-template-columns: 15% 75%;
    padding: 4% 0% 8% 0%;
}    

h3 {
    font-size: 1.2rem;
    /* outline: 2px solid violet; */
}
.imagens-experiencia-direita  {
    gap: 26px;
    padding-top: 0%;  
    /* outline: 2px solid grey;  */     
}

.imagems-educação_esquerda {
    gap: 30px;     
    margin-top: 80%;
} 

.descritivo-educação {
    margin-top: 18%;
}

.descritivo-experiencia, .descritivo-educação {
    display: grid;
    /*outline: 2px solid green;   cor da borda da div */
    gap: 120px;
}

.titulo-experiencia {
    padding-top: 80px;
}








/* PARTE - BLOCO DE ICONES */




.img-html5 {
    filter: brightness(0) saturate(100%) invert(34%) sepia(60%) saturate(1970%) hue-rotate(356deg) brightness(90%) contrast(104%);  
}
.img-css3 {
    filter: brightness(0) saturate(100%) invert(15%) sepia(98%) saturate(5974%) hue-rotate(221deg) brightness(95%) contrast(102%);   
}
.img-js {
    filter: brightness(0) saturate(100%) invert(84%) sepia(20%) saturate(3552%) hue-rotate(1deg) brightness(107%) contrast(103%);   
}
.img-wp {
    filter: brightness(0) saturate(100%) invert(26%) sepia(85%) saturate(1681%) hue-rotate(170deg) brightness(94%) contrast(101%);   
}

.nomes-icones, .nome-icone-figma, .nome-icone-joomla {                   
    font-size: 1.1rem;                                 
    font-weight: 600;  
    bottom: 5px;
    visibility:visible;      
}


.fa-figma, .fa-joomla {
    opacity: 0;
}

.lista-habilidades {    
    list-style:none;
    font-size: 110px;
    color: #000000;
    margin-top: 8%; 
       /* outline: 2px solid rgb(128, 51, 0); */
}

.lista-habilidades-cima {
    gap: 50px;
}

.lista-habilidades-baixo {
    gap: 50px;
    margin-top: 50px;
}


.icone-html5, .icone-css3, .icone-js, .div-wordpress {     /* Blocos cores de fundo */
    width: 80px;
    height: 80px;    
    padding: 0px;      
    /*outline: 2px solid rgb(197, 185, 10);*/     
}



.div-joomla-black, .div-figma-black {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    padding: 16px;    
}





.icone-html5:hover {             /* efeito blocos aumentando */
    transform: scale(1);    
}
.icone-css3:hover {
    transform: scale(1);
} 
.icone-js:hover {
    transform: scale(1);
} 
.div-wordpress:hover {
    transform: scale(1);
} 

.container_joomla:hover, .container_figma:hover {
    transform: scale(1);
    cursor: none;           
} 



.nomes-icones, .nome-icone-figma, .nome-icone-joomla {
    position:absolute; 
    align-items: center;  
    color: aliceblue;   
    font-family: 'Oswald', sans-serif;                  
    font-size: 1rem;                                 
    font-weight: 600;  
    transform: scale(0) ;
    top: 350px;
    visibility: visible;   
    outline: 2px solid rgb(128, 51, 0);      
}


.nome-icone-joomla {
    top: 8px;   
    left: 58px;    
}

.nome-icone-figma{
    top: 8px;   
    left: 64px;
}



.icone-html5:hover .nomes-icones,
.icone-css3:hover .nomes-icones,
.icone-js:hover .nomes-icones,
.div-wordpress:hover .nomes-icones,
.container_joomla:hover .nome-icone-joomla,
.container_figma:hover .nome-icone-figma {
    visibility: hidden;
}

  /* Tamanho dos blocos e ícones */

.fa-css3-alt, .fa-js, .fa-wordpress {
    padding: 12px 30px 20px 30px;    
}
.img-html5, .img-css3, .img-js {
    width: 46px;
    padding-top: 3px;
}

.img-wp {
    width: 54px;
    padding-top: 3px;
}
.div-joomla-color, .div-figma-color {
    position: relative;   
    top: -108px;
    padding-left: 7px;
}
.img-joomla-color, .img-figma-color {   
    width: 66px;
    opacity: 1;
    padding: 10px;     
}


.divisao-horiontal-verde {
    padding: 4px;   
    border: none;
}




 




                                         /* PORTFÓLIO */
                                    
.img-portfolio, .img-portfolio-wnfitas {
    width: 328px;    
}   

.bloco_portfolio_PJ, .bloco_portfolio_wnfitas {   
    padding: 0px 16px 20px 16;    
    margin: 4%;
}
  
.caixa_protifolios {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
   
.titulo_port_paulojr, .titulo_port_wnfitas {
    margin-bottom: 8%;
}

.btn-site, .btn-guithub {        
    width: 46%;        
}
.btn-guithub {
    margin-right: 16px;
}




                                         /* CONTATO */

                                       
/* área do formulário */

form h2 {
    font-size: 2.5rem;                                      
    font-weight: 750;                                                    
}                                               
                                                                                                                          
form {                                            
    padding: 26px 200px 42px 50px;                                                                        
}                
                                            
form input, form textarea { 
    width: 200%;   
    font-size: 12px;        
}
                                            
form textarea {   
    resize: none;         
    padding-bottom: 120px;              
}
                                     
.nomes-icones {
    visibility: visible; 
    padding: 8px 0px 0px 8px;
}                                         
                                                    
      


                                                                            
                    



                                

                                    
                                    
                                    


                                    
                                        





